.achievementContainer {
    // border: 2px solid #00abf0;
    width: 740px;
    // height: 800px;
    border-radius: 10px;
    color: white;
    margin: 100px;
    // background-color: #193357;

    .imageWrapper {
        padding: 20px;

        .achHeading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 25px;

            .title {
                color: white !important;
                font-size: 30px;
                letter-spacing: 2px;

                .line{
                    border: 1px solid #00abf0;
                }

            }
            .headingLogo {
                width: 15%;
                height: 100%;
            }
        }


        .subTitle {
            color: #00abf0;
            font-size: 25px;
            margin-top: 20px;
        }


        .image {
            width: 100%;
            opacity: 0.9 !important;
            border-radius: 10px;
            border: 1px solid #00abf0;
            height: 320px;

        }

        .date {
            color: grey;
            font-family: 'Courier New', Courier, monospace;
        }

        .body {
            font-size: 16px;
            margin-top: 10px;
        }

        .icons {}
    }


}


@media screen and (max-width: 1200px) {
    .achievementContainer {
    
        .imageWrapper {
           
    
            .achHeading {
              
    
                .title {
                   font-size: 28px;
    
                    .line{
                      
                    }
    
                }
                .headingLogo {
                   
                }
            }
    
    
            .subTitle {
              
            }
    
    
            .image {
                height: 310px;
            }
    
            .date {
                
            }
    
            .body {
                
            }
    
            .icons {}
        }
    
    
    }
    
}

@media screen and (max-width: 1000px) {
    .achievementContainer {
    
        .imageWrapper {
           
    
            .achHeading {
              
    
                .title {
                   font-size: 27px;
                    .line{
                      
                    }
    
                }
                .headingLogo {
                   
                }
            }
    
    
            .subTitle {
              
            }
    
    
            .image {
               height: 310px;
            }
    
            .date {
                
            }
    
            .body {
                
            }
    
            .icons {}
        }
    
    
    }
    
}

@media screen and (max-width: 750px) {
    .achievementContainer {
    
        .imageWrapper {
           
    
            .achHeading {
              
    
                .title {
                   font-size: 25px;
    
                    .line{
                      
                    }
    
                }
                .headingLogo {
                   
                }
            }
    
    
            .subTitle {
              
            }
    
    
            .image {
               height: 290px;
            }
    
            .date {
                
            }
    
            .body {
                
            }
    
            .icons {}
        }
    
    
    }
    
}

@media screen and (max-width: 600px) {
    .achievementContainer {
    
        .imageWrapper {
           
    
            .achHeading {
              
    
                .title {
                   font-size: 24px;
    
                    .line{
                      
                    }
    
                }
                .headingLogo {
                   
                }
            }
    
    
            .subTitle {
              
            }
    
    
            .image {
               height: 250px;
            }
    
            .date {
                
            }
    
            .body {
                
            }
    
            .icons {}
        }
    
    
    }
    
}

@media screen and (max-width: 550px) {
    .achievementContainer {
    
        .imageWrapper {
           
    
            .achHeading {
              
    
                .title {
                   font-size: 20px;
    
                    .line{
                      
                    }
    
                }
                .headingLogo {
                   
                }
            }
    
    
            .subTitle {
              
            }
    
    
            .image {
               height: 200px;
            }
    
            .date {
                
            }
    
            .body {
                
            }
    
            .icons {}
        }
    
    
    }
    
}