// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

.heading {
    color: white;
    display: flex;
    justify-content: center;
    // font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin: 0px 10px;
    font-size: 35px;

    .line {
        width: 480px;
        border-top: 1px solid #00abf0;
        margin-top: 25px;
    }
}




@media screen and (max-width: 1200px) {
    .heading{
        font-size: 33px;
        .line{
            width: 300px;
            margin-top: 24px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .heading{
        font-size: 31px;
        .line{
            width: 280px;
            margin-top: 23px;
        }
    }
}

@media screen and (max-width: 750px) {
    .heading{
        font-size: 29px;
        .line{
            width: 200px;
            margin-top: 22px;
        }
    }
}

@media screen and (max-width: 600px) {
    .heading{
        font-size: 27px;
        .line{
            width: 150px;
            margin-top: 21px;
        }
    }
}

@media screen and (max-width: 550px) {
    .heading{
        font-size: 25px;
        .line{
            width: 100px;
            margin-top: 20px;
        }
    }
}