.aboutContainer {
    min-height: 90vh;
    width: 100%;
    // border: 2px solid black;  
    // font-family: 'Fira Code', monospace;
    height: 100%;

    .aboutWrapper {
        display: flex;
        // border: 1px solid red;
        width: 1200px;
        margin: auto;
        width: 100%;
        min-height: 50vh;
        max-width: 1000px;


        .aboutContent {
            // border: 1px solid black;
            font-size: 20px;
            // width: 100%;
            color: white;
            padding: 50px;

            span {
                font-size: 23px;
                color: #00abf0;
            }
        }

        .aboutImage {
            // border: 1px solid black;
            width: 250px;
            border-radius: 200px;
            height: 250px;
            margin: auto;
            z-index: 0;
            transition: 0.3s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .aboutContainer {
        .aboutWrapper {
            width: 800px;

            .aboutContent {}

            .aboutImage {
                height: 250px;
                width: 250px;
                padding: 20px;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .aboutContainer {
        text-align: center;

        .aboutWrapper {
            flex-direction: column;
            width: 600px;

            .aboutContent {}

            .aboutImage {
                height: 200px;
                width: 200px;
                padding: 20px;
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .aboutContainer {
        text-align: center;

        .aboutWrapper {
            flex-direction: column;
            width: 500px;

            .aboutContent {}

            .aboutImage {
                height: 200px;
                width: 200px;
                padding: 20px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .aboutContainer {
        text-align: center;

        .aboutWrapper {
            flex-direction: column;
            width: 100%;

            .aboutContent {}

            .aboutImage {
                height: 200px;
                width: 200px;
                padding: 20px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .aboutContainer {
        text-align: center;

        .aboutWrapper {
            .aboutContent {}

            .aboutImage {
                margin-top: 30px;
                height: 200px;
                width: 200px;
            }
        }
    }
}