.achContainer {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding: 10px;
    // border: 1px solid #00abf0;

    .achWrapper {
        width: 790px;
        // border: 1px solid #00abf0;
        // padding: 10px;
        display: flex;
        margin: auto;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        display: flex;
        // width: 1100px; /* set a fixed width */

        &::-webkit-scrollbar {
            height: 0px;
        }

        .carouselSlide {
            // width: 400px;
            scroll-snap-align: start;
            flex-shrink: 0;
            width: 780px;
            // height: 600px;
            /* Add other styles as needed */
        }
    }

    .slider {
        border: 1px solid #00abf0;
        margin: auto;
    }

    .carouselNav{
        display: flex;
        justify-content: center;
        align-items: center;

        .button{
            border: 1px solid #00abf0;
            height: 20px;
            margin: 10px;
            width: 20px;
            background-color: transparent;
            border-radius: 20px;
            transition: .3s;

            &:hover{
                background-color: #00abf0;
                cursor: pointer;
            }
        }
        .arrow{
            color: #00abf0;
            font-size: 20px;
            margin: 0px 10px;
        }

    }
}

@media screen and (max-width: 1000px) {
    .achContainer {

        .achWrapper {
            width: 100%;
            &::-webkit-scrollbar {
                
            }

            .carouselSlide {
                width: 100%;
            }
        }

        .slider {

        }
    }

}

@media screen and (max-width: 750px) {
    .achContainer {

        .achWrapper {
            width: 100%;
            &::-webkit-scrollbar {
                
            }

            .carouselSlide {
                width: 100%;
            }
        }

        .slider {

        }
    }
}

@media screen and (max-width: 600px) {
    .achContainer {

        .achWrapper {
            width: 100%;
            &::-webkit-scrollbar {
                
            }

            .carouselSlide {
                width: 100%;
            }
        }

        .slider {

        }
    }
}

@media screen and (max-width: 550px) {
    .achContainer {
        text-align: center;
        .achWrapper {
            width: 100%;
            &::-webkit-scrollbar {
                
            }

            .carouselSlide {
                width: 100%;
            }
        }

        .slider {

        }
    }
}