.footerContainer{
    color: #081b29;
    margin: auto;
    font-weight: 100;
    font-size: 18px;
    background-color: #00abf0;
    border-top: 1px solid #00abf0;
    padding: 20px;
    text-align: center;
    opacity: .7;

    span{
        color : white;
    }

    p{
        word-spacing: 8px;
    }
}