.footerContainer {
    // color: #081b29;
    color: white;
    margin: auto;
    font-size: 15px;
    display: flex;
    // justify-content: space-between;
    border-top: 1px solid #00abf0;
    // background-color: #00abf0;
    padding: 20px;
    text-align: center;


    span {
        color: #00abf0;
    }

    p {
        margin-left: 640px;
        word-spacing: 10px;
    }

    a {
        position: fixed;
        bottom: 20px;
        right: 15px;
        border-left: 1px solid #00abf0;
        border-right: 1px solid #00abf0;
        padding: 0px 20px;
        color: white;
    }
}


@media screen and (max-width: 1200px) {
    .footerContainer {
        p {
            margin-left: 2px;
        }

        font-size: 18px;

        a {
            display: none;
        }
    }
}

@media screen and (max-width: 1000px) {
    .footerContainer {
        font-size: 16px;

        p {
            margin-left: 2px;
        }
    }
}

@media screen and (max-width: 750px) {
    .footerContainer {
        font-size: 15px;

        p {
            margin-left: 2px;
        }
    }
}

@media screen and (max-width: 600px) {
    .footerContainer {
        font-size: 14px;

        p {
            margin-left: 2px;
        }
    }
}

@media screen and (max-width: 550px) {
    .footerContainer {
        font-size: 10px;

        p {
            margin-left: 2px;
        }
    }
}