.footerContainer {
    color: #081b29;
    margin: auto;
    font-weight: 100;
    font-size: 18px;
    background-color: #00abf0;
    border-top: 1px solid #00abf0;
    padding: 20px;
    text-align: center;
    opacity: .7;

    span {
        color: white;
    }

    p {
        word-spacing: 8px;
    }
}


@media screen and (max-width: 1200px) {
    .footerContainer{
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px) {
    .footerContainer{
        font-size: 16px;
    }
}

@media screen and (max-width: 750px) {
    .footerContainer{
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .footerContainer{
        font-size: 14px;
    }
}

@media screen and (max-width: 550px) {
    .footerContainer{
        font-size: 10px;
    }
}