// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');


.mainnav {
    letter-spacing: 1px;
    z-index: 30000;
    // position: sticky;
    top: 0;
    // border-bottom: 1px solid #00abf0;
    font-weight: 600;
    background-color: #081b29;
    // font-family: 'Poppins', sans-serif;
    color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    width: 100%;
    font-size: large;
    // border: 1px solid #00abf0;

    .namelogo {
        font-weight: 700;
        font-size: 22px;
        margin-left: 20px;

        span {
            color: #00abf0;
        }
    }

    .copyricon {
        margin-top: 5px;
    }

    .navoptions {
        display: flex;
        font-size: 15px;

        // border: 2px solid #00abf0;
        font-weight: 300;
        // font-family: 'Fira Code', monospace;
        justify-content: space-between;
        width: 65%;
    }

    .navoptions a {
        margin-left: 40px;
        transition: .3s;

        &:hover {
            // cursor: pointer;
            color: #00abf0;
        }
    }

    .hamburger {
        display: none;
        position: fixed;
        top: 10px;
        right: 20px;
    }

    .navmenu {
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2000px !important;
        background-color: #081b29;
        position: fixed;
        display: flex;
        width: 100%;
        display: none;
        font-size: 20px;
        text-align: center;
        flex-direction: column;
        padding-bottom: 200px;
        padding-top: 100px;

        a {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 1450px) {
    .mainnav {
        font-size: small;
        padding: 15px;
        background: none;
        border-bottom: none;

        .namelogo {
            font-size: 23px;
            display: none;
        }


        .navoptions a {
            margin-left: 30px;
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 1250px) {
    .mainnav {
        font-size: small;
        padding: 10px;

        .namelogo {
            font-size: 21px;
        }


        .navoptions a {
            display: none;
            margin-left: 30px;
            font-size: 12px;
        }
    }

    .navmenu {
        display: flex;
        z-index: 2000 !important;
        // opacity: 0.8;
        // border: 2px solid #00abf0;
    }
}


@media screen and (max-width: 950px) {
    .mainnav {
        padding: 8px;
        font-size: 11px;

        .namelogo {
            font-size: 19px;
        }


        .navoptions a {
            display: none;
        }

        .hamburger {
            display: block;
            padding-right: 3px;
            font-size: medium;

            :hover {
                cursor: pointer;
            }
        }

        .navmenu {
            display: flex;
        }
    }
}

@media screen and (max-width: 415px) {
    .mainnav {
        font-size: small;

        .namelogo {
            font-size: 17px;
        }

        .navoptions a {
            display: none;
        }

        .hamburger {
            display: block;
            // padding-right: 5px;
            font-size: medium;
            z-index: 5001;
            height: 50px;
            border: 1px solid #00abf0;
            padding: 15px;
            background-color: #1d2931;
            // padding-top: 3px;
            border-radius: 50px;


            :hover {
                cursor: pointer;
            }
        }

        .navmenu {
            z-index: 2000 !important;
            // opacity: 0.8;
            // border: 2px solid #00abf0;

            .myPic {
                margin: auto;
                height: 200px;
                width: 200px;
                border-radius: 200px;
                border: 2px solid #00abf0;
            }
        }
    }
}