@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

.mainnav {
    font-family: 'Poppins', sans-serif;
    color: rgb(57, 56, 56);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: large;
    border: 1px solid black;

    .copyricon {
        margin-top: 5px;
    }

    .navoptions {
        display: flex;
        font-size: 15px;
        width: 30%;
    }

    .navoptions a{
        margin-right: 40px;
    }

    .hamburger {
        display: none;
    }

    .navmenu {
        right: 0;
        top: 0;
        bottom: 0;
        // border: 1px solid black;
        background-color: rgb(249, 248, 246);
        position: fixed;
        display: flex;
        margin-top: 86.6px;
        width: 70%;
        display: none;
        text-align: center;
        padding: 50px;
        flex-direction: column;

        a{
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 700px) {
    .mainnav {
        font-size: small;

        .navoptions a {
            display: none;
        }

        .hamburger {
            display: block;
            padding-right: 25px;
            font-size: medium;

            :hover {
                cursor: pointer;
            }
        }

        .navmenu {
            display: flex;
        }
    }
}