@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');

.mainnav {
    font-family: 'Poppins', sans-serif;
    color: rgb(57, 56, 56);
    display: flex;
    justify-content: space-between;
    padding: 18px;
    font-size: large;
    // border: 1px solid black;

    .copyricon {
        margin-top: 5px;
    }

    .navoptions {
        display: flex;
        font-size: 15px;
        font-family: 'Fira Code', monospace;
        justify-content: space-around;
        width: 40%;
    }

    .navoptions a{
        margin-left: 40px;
    }

    .hamburger {
        display: none;
    }

    .navmenu {
        right: 0;
        top: 0;
        bottom: 0;
        // border: 1px solid black;
        background-color: white;
        position: fixed;
        display: flex;
        margin-top: 86.6px;
        width: 70%;
        display: none;
        text-align: center;
        padding: 50px;
        flex-direction: column;

        a{
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 1450px){
    .mainnav{
        font-size: small;
        padding: 15px;

        .navoptions a{
            margin-left: 30px;
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 1250px){
    .mainnav{
        font-size: small;
        padding: 10px;

        .navoptions a{
            margin-left: 30px;
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 950px) {
    .mainnav{
        padding: 8px;
        font-size: 11px;
        
        .navoptions{
            font-size: 10px;
            width: 50%;
        }
        .navoptions a{
            margin-left: 13px;
        }
    }
}

@media screen and (max-width: 400px) {
    .mainnav {
        font-size: small;

        .navoptions a {
            display: none;
        }

        .hamburger {
            display: block;
            padding-right: 25px;
            font-size: medium;

            :hover {
                cursor: pointer;
            }
        }

        .navmenu {
            display: flex;
        }
    }
}