.skillsContainer{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    // border: 1px solid red;
    .skillsWrapper{
        margin-top: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .skillsContainer {
        .skillsWrapper {
            width: 800px;
            .skills {
                .skillsLogo {}
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    .skillsContainer {
        .skillsWrapper {
            width: 600px;
            .skills {
                .skillsLogo {}
            }
        }
    }
}

@media screen and (max-width: 750px) {
    .skillsContainer {
        .skillsWrapper {
            margin-top: 80px;
            width: 500px;
            .skills {
                .skillsLogo {}
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .skillsContainer {
        .skillsWrapper {
            margin-top: 90px;
            width: 450px;
            .skills {
                .skillsLogo {}
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .skillsContainer {
        .skillsWrapper {
            margin-top: 100px;
            width: 400px;
            .skills {
                .skillsLogo {
                    width: 68px;
                    height: 68px
                }
            }
        }
    }
}